<p>Edit this pet</p>
<button (click)="goHome()">Home
</button>
<p *ngIf="errors">
    {{errors}}
</p>
    <form (submit)="editPet(pet)">
      <p>Pet name:</p>
      <input type="text" name="name" [(ngModel)]="pet.name"/>
      <p>Pet type:</p>
      <input type="text" name="type" [(ngModel)]="pet.type"/>
      <p>Desctiption:</p>
      <input type="text" name="description" [(ngModel)]="pet.description"/>
      <p>Skills (optional):</p>
      <p>Skill 1:<input type="text" name="skill1" [(ngModel)]="pet.skill1"/></p>
      <p>Skill 2:<input type="text" name="skill2" [(ngModel)]="pet.skill2"/></p>
      <p>Skill 3:<input type="text" name="skill3" [(ngModel)]="pet.skill3"/></p>
      <input type="submit" value="Edit pet"/>
      <button (click)="goHome()">Cancel</button>
  </form>